@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Country and City information Management</h1>
    
</div>

<div class="row">
    
    @*<div class="col-md-4">
        <h2>Save Country</h2>
        <p>Here You can save country name,information and images</p>
        <p><a class="btn btn-info" href="~/Views/Country/CountrySave.cshtml">Save Country Information &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Show Country</h2>
        <p>Here you can see country information</p>
        <p><a class="btn btn-info" href="~/Views/Country/Show.cshtml">Show Country Information &raquo;</a></p>
    </div>*@

    
</div>